<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD With Express, Node JS, and PostgreSQL</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>SELAMAT DATANG</h1>
            <h2>Contoh CRUD menggunakan Express, NodeJS, dan PostgreSQL</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th>No. </th>
                    <th>Nama Lengkap</th>
                    <th>Action</th> 
                </tr>
             </thead>
             <tbody>
                <tr>
                    <td>1</td>
                    <td>Asep Sumarna</td>
                    <td>
                        <button>Edit</button>
                        <button>Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kukus Ismail</td>
                    <td>
                        <button>Edit</button>
                        <button>Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Steve Lou</td>
                    <td>
                        <button>Edit</button>
                        <button>Hapus</button>
                    </td>
                </tr>
             </tbody>
        </table>
            
      
        
    </div>
    
</body>
</html>