<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD With Express, Node JS, and PostgreSQL</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>SELAMAT DATANG</h1>
            <h2>Contoh CRUD menggunakan Express, NodeJS, dan PostgreSQL</h2>
        </div>

        
        <form id="add" action="/add" method="post">
            <input type="text" name="nama">
            <input type="submit" value="Tambah">
        </form>

        <% if(users.length != 0) { %>
            <table>
                <thead> 
                    <tr>
                        <th>No. </th>
                        <th>Nama Lengkap</th> 
                        <th>Action</th>
                    </tr>
                 </thead>
                 <tbody>
                     <% users.forEach((user) => { %>
                        <tr>
                            <td><%= user.user_id %></td>
                            <td><%= user.nama_user %></td>
                            <td>
                                <form action="/delete/<%= user.user_id %>" method="post">
                                    <input type="submit" value="Hapus">
                                </form>
                            </td>
                            <td><a href="/edit/<%= user.user_id %>">Edit</a></td>
                        </tr> 
                        
                     <% }); %>
                 </tbody>
            </table>
        <% } else { %>
            <h1>Belum ada data!</h1>
        <% } %>
        
    </div>
</body>
</html>