<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD With Express, Node JS, and PostgreSQL</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <% const items = [ 
            {id: 1, name: "Asep Sumarna"},
            {id: 2, name: "Kukus Ismail"},
            {id: 3, name: "Steve Lou"}
        ]; %>

        <div class="header">
            <h1>SELAMAT DATANG</h1>
            <h2>Contoh CRUD menggunakan Express, NodeJS, dan PostgreSQL</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th>No. </th>
                    <th>Nama Lengkap</th> 
                </tr>
             </thead>
             <tbody>
                 <% items.forEach((item) => { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.name %></td>
                    </tr> 
                 <% }); %>
             </tbody>
        </table>
            
      
        
    </div>
    
</body>
</html>