* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --main-bgcolor: #ffffff;
    --addform-bgcolor: #FAFBFC;
    --addform-bdcolor: #E1E4E8;
    --addform-color: black;
    --thead-bgcolor: #7a7a7a;
    --thead-color: white;
    --tr-bgodd: #ebebeb; 
    --tr-bgeven: #b4b4b4;
    --tr-color: black;
    --footer-linkcolor: purple;
    --footer-color: black;
}

body.dark-theme {
    --main-bgcolor: #0D1117;
    --addform-bgcolor: #090D12;
    --addform-bdcolor: #21262D;
    --addform-color: #C9D1D9;
    --thead-bgcolor: #282D30;
    --thead-color: #C9D1D9;
    --tr-bgodd: #1e1e1e;
    --tr-bgeven: #292929;
    --tr-color: #8B949E;
    --footer-linkcolor: #58A6FF;
    --footer-color: #8B949E;
}

body {
    background: var(--main-bgcolor);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.form {
    text-align: center;
    margin-top: 3em;
}

.form-control {
    width: 25em;
    height: 2.5em;
    padding-left: 10px;
    border: none;
    border: 1px solid var(--addform-bdcolor);
    border-radius: 10px;
    margin-right: 1em;
    background: var(--addform-bgcolor);
    color: var(--addform-color);
}

.form-control:focus {
    outline: none;
    border:none;
    border: 1px solid #58A6F7;
    border-radius: 8px;
    box-shadow:0 0 3pt 2pt #77a8dd;
}   


.btn {
    height: 2.5em;
    width: 6em;
    border-radius: 10px;
    border-style: none;
    background: #0275d8;
    color: #f7f7f7;
    font-size: 13px;
    cursor: pointer;
    outline: none;
}

.edit-title {
    text-align: center;
    margin-top: 2em;
}


table {
    width: 70%;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    margin-top: 2em;
}

thead {
    background: var(--thead-bgcolor);
    color: var(--thead-color);
    font-size: 20px;
}

tbody tr {
    color: var(--tr-color);
}

th {
    padding: 1em;
}

td {
    padding: 1em;
    font-size: 18px;
}

tbody tr:nth-child(odd) {
    background: var(--tr-bgodd);
}


tbody tr:nth-child(even) {
    background: var(--tr-bgeven);
}

.action {
    display: flex;
    justify-content: center;
}

.action-delete {
    background:#d9534f;
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: #f7f7f7;
    font-family: sans-serif;
    margin-right: 1em;
    width: 5em;
    cursor: pointer;
}

.action-edit {
    background: #5cb85c;
    border-radius: 10px;
    padding: 12px;
    font-family: sans-serif;
    font-size: 13px;
    width: 5em;
    cursor: pointer;

}

.action-edit a {
    text-decoration: none;
    color:#f7f7f7;
 }

 footer {
     text-align: center;
     margin-top: 4em;
     color: var(--footer-color);
 }

 footer p {
     margin-top: 0.5em;
 }

 footer .title {
     font-size: 20px;
     font-weight: bold;
 }

 footer a {
    color: var(--footer-linkcolor);
 }

body, .form-control, thead, tbody tr,tbody tr:nth-child(odd),
tbody tr:nth-child(even), footer, footer a {
    transition: linear 0.2s;
} 

